openfoodfacts.duckdb
.claude/
.venv/
.ipynb_checkpoints/
.vscode/
data/
allergenscan/
eda/
matching/
nlp/
results/
scripts/add_languages.py
scripts/dumpFodeexTerms.py
scripts/extractData.py
scripts/foodex_excel.py
scripts/products_nlp_dataset.py

src/allergenscan
src/data

off.sql

search_product.py
test_ingredient_filtering.py
test_tags.py




